<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <% if user_signed_in? and current_user.admin? %>
        <h1> Hello admin</h1>
      <% elsif user_signed_in? %>
        <h1> Hello user</h1>
      <% end %>
    </div>
  </div>
</div>