<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <% if user_signed_in? %>
        <div> Welcome <%= current_user.email %> </div>
      <% end %>
      <p>hello world</p>
    </div>
  </div>
</div>