<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <%= link_to "Create anime", new_anime_path(), class: "user__action user__action--registration" %>
    </div>
  </div>
</div>