@import "../mixin/center";

.content {
  position: relative;
  text-align: center;
  background: #d8d8ff;
  width: 1150px;
  padding: 20px;
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: Arial, sans-serif;
  }
  @include center;
}