@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700&display=swap);

@charset "UTF-8";

:root {
    --primary: #242424;
    --secondary: #121212;
    --blue: #3F79CF;
    --white: #ffffff;
    --blue-hover: #2155a4;
    --text-primary: #fbfffe;
    --text-secondary: #080708;
    --text-accent: #e8eddf;
    --text-inverse: #e8eddf;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::before,
*::after {
    display: inline-block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    color: #ffffff;
    line-height: 1;
    font-family: "Montserrat";
    font-size: 1rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Montserrat";
    font-size: inherit;
    line-height: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: var(--primary);
}

.lock body {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
}

.loaded body {
    opacity: 1;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 20px;
}

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

@supports (overflow: clip) {
    .wrapper {
        overflow: clip;
    }
}

.wrapper > main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper > * {
    min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
    max-width: 81.875rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.button {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    width: 100%;
    max-width: 20rem;
    height: 3.25rem;
    background-color: var(--blue);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 5px;
    font-weight: 500;
}

.button--fw {
    max-width: none;
    width: 100%;
}

textarea.input {
    resize: none;
    height: 150px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    border-radius: 6px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    outline: 1px solid var(--primary);
    background-color: var(--primary);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: var(--white);
}

.input:focus {
    outline-color: var(--blue);
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
    opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
    opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
    opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
    opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
    opacity: 0;
}

.menu {
    position: relative;
    z-index: 999;
}

.menu::before {
    content: "";
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1.875rem;
    z-index: 2;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.25rem;
}

.menu__link {
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu__link::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    margin: 0 auto;
    background-color: var(--blue);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 0.625rem;
}

.icon-menu {
    display: none;
}

.ibg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.ibg--top {
    -o-object-position: top;
    object-position: top;
}

.ibg--bottom {
    -o-object-position: bottom;
    object-position: bottom;
}

.ibg--left {
    -o-object-position: left;
    object-position: left;
}

.ibg--right {
    -o-object-position: right;
    object-position: right;
}

.ibg--contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.input-box {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.625rem;
}

.input-box--file {
    text-align: center;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.actions .button{
    color: white;
}

.input-box--file .button {
    max-width: none;
}

.button-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-box--file input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.input-box input {
    padding-right: 2.5rem;
    height: 2.5rem;
}

.input-box input:focus + svg * {
    stroke: var(--blue) !important;
}

.input-box input:focus + svg {
    -webkit-transform: translate(0, -50%) rotate(360deg) scale(1.1);
    -ms-transform: translate(0, -50%) rotate(360deg) scale(1.1);
    transform: translate(0, -50%) rotate(360deg) scale(1.1);
}

.input-box svg {
    position: absolute;
    top: 50%;
    right: 0.625rem;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 1.25rem;
    height: 1.25rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.input-box svg * {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--blue);
}

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: var(--secondary);
    padding: 0.625rem 0;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.25rem;
    text-wrap: none;
    cursor: pointer;
}

.user__action {
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.user__action::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    margin: 0 auto;
    background-color: var(--blue);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 0.625rem;
}

.anime {
    padding-top: 3.25rem;
    padding-bottom: 1.875rem;
}

.anime__body {
    padding: 1.25rem 70px;
    border-radius: 1rem;
    background-color: var(--secondary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
}

.input {
    height: 40px;
}

.anime__block {
    justify-items: center;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.anime__block .input-box {
    width: 100%;
    flex: 1 1 50%;
}

.anime__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.anime__top-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.anime__body .input-box {
    max-width: 25rem;
}

.anime__items {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 1.25rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.item-anime {
    cursor: pointer;
    -ms-grid-column-align: center;
    justify-self: center;
    width: 100%;
    /*height: -webkit-fit-content;*/
    /*height: -moz-fit-content;*/
    height: fit-content;
    max-width: 14.375rem;
    display: -ms-grid;
    display: grid;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--primary);
    border-radius: 1rem;
    overflow: hidden;
}

.item-anime__image {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 18.75rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.item-anime__image img {
    aspect-ratio: 250/350;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-anime__rating {
    position: absolute;
    /*width: -webkit-fit-content;*/
    /*width: -moz-fit-content;*/
    width: fit-content;
    /*height: -webkit-fit-content;*/
    /*height: -moz-fit-content;*/
    height: fit-content;
    top: 5%;
    left: 0;
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
    font-weight: 500;
    border-radius: 0 0.625rem 0.625rem 0;
    background-color: var(--blue-hover);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: none;
}

.item-anime__body {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-anime__name {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.login {
    padding-top: 6.25rem;
    padding-bottom: 1.875rem;
}

.login__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.login__body {
    background-color: var(--secondary);
    padding: 1.25rem;
    border-radius: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.875rem;
    width: 100%;
    max-width: 37.5rem;
}

.login__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
}

.login__button {
    margin: 0 auto;
    margin-top: 0.625rem;
}

.login__block {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.625rem;
    text-wrap: none;
    font-size: 0.875rem;
}

.login__block a {
    color: var(--blue);
    text-decoration: underline;
}

.about-us {
    padding-top: 6.25rem;
    padding-bottom: 1.875rem;
}

.about-us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 3.125rem;
}

.about-us__title {
    margin: 0 auto;
}

.body-user-page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
}

.body-user-page__content textarea {
    height: 13.75rem;
}

.user-anime {
    padding-bottom: 1.875rem;
}

.user-anime__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.875rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input-box {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.625rem;
}

.input-box input {
    padding-right: 2.5rem;
    height: 2.5rem;
}

.input-box input:focus + svg * {
    stroke: var(--blue) !important;
}

.input-box input:focus + svg {
    -webkit-transform: translate(0, -50%) rotate(360deg) scale(1.1);
    -ms-transform: translate(0, -50%) rotate(360deg) scale(1.1);
    transform: translate(0, -50%) rotate(360deg) scale(1.1);
}

.input-box svg {
    position: absolute;
    top: 50%;
    right: 0.625rem;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 1.25rem;
    height: 1.25rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.input-box svg * {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (min-width: 47.99875em) {
    .menu__user {
        display: none !important;
    }

    .anime__items {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
}


@media (min-width: 81.875em) {
    .button {
        font-size: 1.125rem;
    }

    .title {
        font-size: 2.1875rem;
    }

    .item-anime__name {
        font-size: 1.125rem;
    }
}

@media (max-width: 20em) {
    .button {
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .item-anime__name {
        font-size: 1rem;
    }
}

@media (max-width: 47.99875em) {
    .menu__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        width: 80%;
        height: 100%;
        right: -100%;
        top: 0;
        overflow: auto;
        padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
        -webkit-transition: right 0.3s;
        transition: right 0.3s;
        background-color: var(--secondary);
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 80%;
        height: 2.75rem;
        right: -100%;
        top: 0;
        -webkit-transition: right 0.3s;
        transition: right 0.3s;
        z-index: 2;
        background-color: var(--secondary);
        pointer-events: none;
    }

    .menu-open .menu__body {
        right: 0;
    }

    .menu-open .menu__body::before {
        right: 0;
    }

    .menu__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .icon-menu {
        display: block;
        position: relative;
        width: 1.875rem;
        height: 1.125rem;
        z-index: 5;
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 0.125rem;
        background-color: #ffffff;
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 0.0625rem);
    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 0.0625rem);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 0.0625rem);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .header__user {
        display: none !important;
    }
}

@media (min-width: 20em) and (max-width: 81.875em) {
    @supports (font-size: clamp( 1rem , calc(0.9595959596rem  +  0.202020202vw), 1.125rem )) {
        .button {
            font-size: clamp(1rem, calc(0.9595959596rem + 0.202020202vw), 1.125rem);
        }
    }
}

@media (max-width: 47.99875rem) and (any-hover: none) {
    .icon-menu {
        cursor: default;
    }
}

@supports (font-size: clamp(1rem , calc(0.9595959596rem + 0.202020202 * 100vw), 1.125rem)) {
    .button {
        font-size: clamp(1rem, calc(0.9595959596rem + 0.202020202 * 100vw), 1.125rem);
    }

    .title {
        font-size: clamp(1.5rem, calc(1.2777777778rem + 1.1111111111vw), 2.1875rem);
    }

    .item-anime__name {
        font-size: clamp(1rem, calc(0.9595959596rem + 0.202020202 * 100vw), 1.125rem);
    }
}

@supports not (font-size: clamp(1rem , calc(0.9595959596rem + 0.202020202 * 100vw), 1.125rem)) {
    .button {
        font-size: calc(1rem + 0.125 * (100vw - 20rem) / 61.875);
    }

    .title {
        font-size: calc(1.5rem + 0.6875 * (100vw - 20rem) / 61.875);
    }

    .item-anime__name {
        font-size: calc(1rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}


@media (any-hover: hover) {
    .button:hover {
        background-color: var(--blue-hover);
    }

    .menu__link:hover {
        color: var(--blue);
    }

    .menu__link:hover::after {
        left: 0;
        width: 100%;
    }

    .logo:hover {
        color: var(--blue);
    }

    .user__action:hover {
        color: var(--blue);
    }

    .user__action:hover::after {
        left: 0;
        width: 100%;
    }

    .item-anime:hover .item-anime__name {
        color: var(--blue);
    }

    .item-anime:hover .item-anime__image {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    }

    .item-anime:hover .item-anime__rating {
        opacity: 0;
    }
}

.select__placeholder {
    color: #B0BFD7;
}

.select__body {
    position: relative;
    border-radius: 0.3125rem;
    width: 100%;
    display: block;
    height: 2.8125rem;
    font-size: 0.875rem;
    background-color: var(--primary);
    outline: 1px solid #B0BFD7;
}

.select__title {
    color: inherit;
    text-align: left;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.select__value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.875rem;
    padding-right: 1.5625rem;
    gap: 0.625rem;
}

.select__value > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.select__value::before,
.select__value::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: #ffffff;
    height: 1.5px;
    width: 6px;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.select__value::before {
    -webkit-transform: translate(-75%, -50%) rotate(40deg);
    -ms-transform: translate(-75%, -50%) rotate(40deg);
    transform: translate(-75%, -50%) rotate(40deg);
}

.select__value::after {
    -webkit-transform: translate(0, -50%) rotate(-40deg);
    -ms-transform: translate(0, -50%) rotate(-40deg);
    transform: translate(0, -50%) rotate(-40deg);
}

._select-open .select__value::before {
    -webkit-transform: translateX(-75%) rotate(-40deg);
    -ms-transform: translateX(-75%) rotate(-40deg);
    transform: translateX(-75%) rotate(-40deg);
}

._select-open .select__value::after {
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.select__value._select-pseudo-label::before {
    content: attr(data-pseudo-label);
    opacity: 0.5;
}

.select__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
}

.select__options {
    color: #ffffff;
    position: absolute;
    top: calc(100% - 1px);
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    border-top: 0;
    outline: 1px solid #B0BFD7;
    background-color: var(--primary);
    border-top: 0;
    padding: 10px 0px 5px 0px;
    z-index: -1;
}

.select__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 12.5rem;
}

.select__option {
    width: 100%;
    height: 2.4375rem;
    text-align: left;
    cursor: pointer;
    padding: 5px 15px;
    color: inherit;
}

.select__option:not(:last-child) {
    border-bottom: 1px solid #B0BFD7;
}

.select__option._select-selected {
    background-color: var(--primary);
}

.select__row {
    display: inline;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.select--show-top .select__options {
    top: auto;
    bottom: calc(100% - 0.0625rem);
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    padding: 5px 0px 10px 0px;
}

._select-tag {
    cursor: pointer;
}

body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease 0s;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 999;
}

.popup-show body::after {
    opacity: 1;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 10px;
    -webkit-transition: visibility 0.8s ease 0s;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
}

.popup_show {
    z-index: 9999;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}

.popup_show .popup__content {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.popup__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.popup__content {
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    background-color: var(--secondary);
    padding: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
}

.lock .popup__content {
    visibility: visible;
}

.popup-grade__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.875rem;
}

.popup-grade__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.popup-grade__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 18.75rem;
}

.popup-grade__content .button {
    margin: 0 auto;
}

.popup-grade .popup-grade__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
}

.grade-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-anime__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.875rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

/*.anime__container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: 1.875rem;*/
/*    width: 100%;*/
/*}*/

.user-anime__body {
    width: 100%;
    background-color: var(--secondary);
    padding: 1.25rem;
    border-radius: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.user-anime-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
}

.user-anime-list__block {
    display: -ms-grid;
    display: grid;
    /*-ms-grid-columns: (1fr)[3];*/
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.25rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.user-anime-list__item {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    /*-ms-grid-columns: (1fr)[3];*/
    grid-template-columns: repeat(5, 1fr);
    gap: 0.1rem;
    padding: 0.1rem 0;
}

@media (min-width: 47.99875em) {
    .menu__user {
        display: none !important;
    }

    .anime__items {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }

    .body-user-page__content textarea {
        max-width: calc(50% - 10px);
    }
}

.user-page {
    padding-top: 2.5rem;
    padding-bottom: 1.875rem;
}

.user-page__container {
    width: 100%;
}

.title-small {
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.body-user-page {
    width: 100%;
    background-color: var(--secondary);
    padding: 1.25rem;
    border-radius: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.body-user-page__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.body-user-page__image-wrapper {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
}

.body-user-page__image-wrapper .user-page__image-input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.body-user-page__image {
    max-width: 20rem;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.body-user-page__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.body-user-page__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1.25rem;
}

.body-user-page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
}

.character-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 20px;
}

.character {

}

.character__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.character__block{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.character__image{
    max-width: 300px;
    max-height: 400px;
    width: 100%;
    height: 100%;
}

.topic__image{
    max-height: 400px;
    width: 100%;
    height: 100%;
}

.topic__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.character__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.character__description{
    max-width: none !important;
}

.character__description .input{
    height: 120px;
    align-items: start;
}

/*---------------------------------------------------------------------------------------*/
.block-forum{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
    border-bottom: 3px solid var(--blue);
}

.block-forum .title{
    color: white;
}

.block-forum__items{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-block-forum{
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    background-color: #7082b4;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.item-block-forum__num{
    font-weight: 500;
    font-size: 24px;
}
.item-block-forum__title{
    font-size: 32px;
    font-weight: 500;
}
.item-block-forum__comments{
    display: flex;
    align-items: center;
    gap: 10px;

}

.item-block-forum__body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment strong {
    margin-right: 10px;
}

.comment-text {
    flex-grow: 1;
    margin-right: 20px;
}

.comment-time {
    color: #888;
    font-size: 0.9em;
}

.anime {
    padding: 20px;
}

.anime__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anime__body {
    width: 100%;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.button {
    margin-bottom: 20px;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item-anime {
    display: block;
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.item-anime__image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.item-anime__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-anime__body {
    padding: 10px;
}

.button {
    margin-bottom: 20px;
}


.custom-checkbox {
    display: inline-block;
    flex: 0 0 22px;
    width: 22px;
    height: 22px;
    border-radius: 8px;
    vertical-align: sub;
    border: 1px solid #ECECEC;
    position: relative;
    transition: all .3s ease;
    &::before{
        content:'';
        position: absolute;width: 100%;height: 100%;top: 0;left: 0;
        transform: scale(0);
        transition: all .3s ease;
        z-index: 2;
        background: #fff;
    }

}
.real-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 1;
    z-index: -1;
}
.real-checkbox:checked + .custom-checkbox{
    background-color: blue;
    &::before{
        content:'';
        transform: scale(1);

    }
}